<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/awan.png" type="image/x-icon">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        .app-title{
            color: var(--color-3);
        }
        .app-desc, .button-check{
            color: var(--color-5);
        }
    </style>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg custom-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../static/img/tanyahujanhori.png" alt="Your Logo" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="manual">Prediksi Hujan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sensor">Realtime</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="aboutus">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main Body -->
    <article class="main-content d-flex flex-wrap-reverse">
        <div class="left-content col-12 order-1 col-md-6 d-flex align-items-center ps-5">
            <div>
                <h1 class="app-title mb-4 fs-1 fw-bold">Tanya Hujan</h1>
                <h2 class="app-desc mb-4 fs-2">Tanya hujan adalah aplikasi website yang bertujuan untuk memprediksi hujan.</h2>
                <a class="btn btn-success button-check fs-4 fw-medium" href="manual">Cek Sekarang</a>
            </div>
        </div>
        <div class="right-content col-12 order-2 col-md-6 d-flex align-items-center justify-content-center">
            <img src="../static/img/tanyahujanverti.png" alt="logovertical" style="width: 50%;">
        </div>
    </article>
    <!-- Java Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>